
.img {
    width: 100%;
    height: auto;
  }
/* teste de atualizaciones */
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
  .home-transp{background-color: rgba(255,255,255,0.5) !important;}
  /*MARGEM DAS SEÇÕES*/
  a:hover{text-decoration:none !important;}
  body{
  overflow-y: scroll !important;
  }
  a{
  text-decoration: none !important;
  }
  #comece-agora .btn{
  line-height: 1.5em !important;
  }
  button{
  line-height: 30px !important;
  }
  .intro-bg{
  margin-top: 7% !important;
  }
  h1{
  font-family: Montserrat !important;
  color: #8AB198 !important;
  }
  #header-novaid, #indica-novaid, #depo1-novaid{
  /* margin: 10% 0; */
  }
  #indica-novaid{
  margin-top: 3%;
  }
  /*HEADER-----------------------------------*/
  #header-novaid{
  margin: 2% 0;
  }
  #header-novaid form{
  z-index: 20 !important;
  align-items: center;
  }
  #header-novaid .header-novaid-texto h1{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 45px;
  color:#0464AE;
  line-height: 1.2em;
  }
  #header-novaid .header-novaid-texto p{
  float: right;
  right: 0;
/*  margin-left: 46%;*/
  }
  #header-novaid .header-novaid-texto h1 span{
  display: inline-block;
  background:#0464AE;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-clip-path: polygon(0 10%, 100% 3%, 98% 100%, 2% 89%);
  clip-path: polygon(0 10%, 100% 3%, 98% 100%, 2% 89%);
  color: #fff;
  margin-left: -3%;
  }
  #header-novaid .header-novaid-texto h2{
  margin: 3% 0;
  font-size: 20px;
  font-family: Montserrat;
  line-height: 1.7em;
  width: 67%;
  }
  #header-novaid .header-novaid-imagem img{
  height: 700px;
  margin-top: -10%;
  /*margin-left: 15%;*/
  }
  #header-novaid .header-novaid-imagem {
  text-align: center;
  }
  #header-novaid .header-novaid-texto .btn{
  background-color: #000 !important;
  color: #70FFBD !important;
  margin: 3% 0 1% 0;
  font-size: 11px !important;
  line-height: 1.2em;
  height: 57px !important;
  font-weight: 700;
  transition: all 0.5s ease;
  font-family: Montserrat !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #000 !important;
  }
  #header-novaid .header-novaid-texto .btn:hover{
  background-color: #EF2F77 !important;
  color:#000 !important;
  }
  #header-novaid .header-novaid-texto .form-controls-2{
  border-radius: 0;
  border-color:#000;
  height: 35px !important;
  margin: 3% 0 1% 0;
  width: 45%;
  background: #fff;
  font-family: Montserrat;
  border: 1px solid #000 !important;
  padding:10px !important;
  }
  #header-novaid .header-novaid-texto .form-controls-2 p{
  text-align:right;
  margin-left: 21% !important;
  }
  /*INDICADORES-----------------------------------*/
  .intro-bg{
  background-image: url("https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/01/21132635/FUNDO_Top-left.png");
  background-repeat:no-repeat;
  background-position: 103% 50%;
  background-size: 56% 85%;
  background-position-y: 100%;
  }
  #indica-novaid{
  padding: 3% 0;
  }
  #indica-novaid h3{
  font-size: 75px;
  font-family: Montserrat !important;
  font-weight: 700 !important;
  text-align: right;
  }
  #indica-novaid h3 span{
  font-size: 26px;
  font-family: Montserrat;
  font-weight: 300;
  text-align: right;
  display: block;
  margin-top: 2%;
  }
  .vendas-nova_id{
  margin: 20% auto auto auto;
  }
  #indica-novaid .blue1{
  color: #31008C;
  }
  #indica-novaid .blue2{
  color: #0464AE;
  }
  #indica-novaid .blue3{
  color: #26A4B9;
  }
  #indica-novaid .indica-parent,  #indica-novaid .indica-item-novaid{
  display: inline-block;
  }
  .indica-text-novaid{
  float: right;
  margin-top: 1%;
  }
  .indica-text-novaid h4{
  line-height: 1.5em !important;
  font-size:1.4rem !important;
  margin-bottom: .5rem !important;
  margin: 0 !important;
  }
  .indica-item-novaid{
  padding-right: 8%;
  }
  /*DEPOIMENTO 1-----------------------------------*/
  #depo1-novaid{
  margin-bottom: 10%;
  }
  #depo1-novaid .depo1-txt{
  display: inline-block;
  float: right;
  margin-top: 4%;
  font-size: 30px;
  font-family: Montserrat;
  color: #090236;
  line-height: 1.5em;
  }
  #depo1-novaid .depo1-img{
  display: inline-block;
  float: left;
  margin-left: -8%;
  z-index: 3;
  height: 600px;
  position: relative;
  z-index: 9;
  }
  @media(max-width: 1200px) and (min-width: 993px){
  #depo1-novaid .depo1-img img{
  margin-left: -20% !important;
  }
  }
  #depo1-novaid .depo1-txt h4{
  font-family: Montserrat;
  line-height: 1.8em;
  text-align: center;
  position: relative;
  z-index: 20;
  font-size: 26px !important;
  }
  #depo1-novaid .depo1-txt h4 span{
  background: #70FFBD;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #70FFBD, -0.2em 0 0 #70FFBD;
  }
  #depo1-novaid .depo1-txt h5{
  margin-top: 10%;
  text-align: center;
  font-size: 16px;
  color: #EF2F77;
  line-height: 1.5em;
  font-style: italic;
  }
  #depo1-novaid .depo1-txt h5 span{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #EF2F77;
  background: none !important;
  box-shadow: none !important;
  line-height: 1.5em;
  font-family: Montserrat !important;
  }
  #depo1-novaid .depo1-txt span{
  background: #70FFBD;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #70FFBD, -0.2em 0 0 #70FFBD;
  }
  /*INDICADORES CONSULTORIA-----------------------------------*/
  #indicadores-consultoria{
  background-color: #EF2F77;
  background-image: url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/01/25154232/Ondas_Vanessa_Left-01.png),url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/01/25154207/Ondas_Vanessa_Right-01.png) ;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 90%);
  overflow: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left, center right;
  height: 100%;
  margin-top: -13%;
  z-index: 50;
  position: relative;
  padding-top: 10%;
  padding-bottom: 5%;
  }
  #indicadores-consultoria .indicadores-consultoria-img img{
  height: 500px;
  float: left;
  }
  #indicadores-consultoria .indicadores-consultoria-txt{
  float: right;
  font-size: 45px;
  font-family: Montserrat;
  font-weight: 300;
  color: #fff;
  }
  /* #comece-agora .form-inline{
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  } */
  #indicadores-consultoria .indicadores-consultoria-txt h3{
  margin-bottom: 10%;
  font-size: 36px!important;
  }
  #indicadores-consultoria .indicadores-consultoria-txt h4{
  margin-bottom: 10%;
  font-size: 26px !important;
  }
  #indicadores-consultoria .indicadores-consultoria-txt span{
  background: #fff;
  color: #3A025E;
  font-weight: 700 !important;
  line-height: 1.4em;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff;
  }
  #indicadores-consultoria button, #depo1-novaid button{
  line-height: 30px !important;
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  background: linear-gradient(#FDB913, #FE9005);
  border:none;
  border-radius: 0;
  padding:10px 40px;
  box-shadow: 0px 4px #9B3B21;
  position: relative;
  font-family: Montserrat;
  font-weight: 700;
  z-index: 99;
  transition: all 0.3s;
  font-size: 25px !important;
  }
  #indicadores-consultoria button:hover, #depo1-novaid button:hover{
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
  }
  /*DEPOIMENTO2-----------------------------------*/
  #depo1-novaid button{
  margin: 0 auto !important;
  }
  #depo2-novaid{
  margin-bottom: -20vh;
  overflow: hidden;
  }
  #depo2-novaid button{
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  background: linear-gradient(#FDB913, #FE9005);
  border:none;
  border-radius: 0;
  padding:10px 40px;
  box-shadow: 0 5px 0px #9B3B21;
  position: relative;
  font-family: Montserrat;
  font-weight: 700;
  z-index: 99;
  transition: all 0.3s;
  font-size:18px;
  }
  #depo2-novaid button:hover{
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
  }
  #depo2-novaid .depo2-txt{
  display: inline-block;
  float: left;
  margin-top: 5%;
  font-size: 30px;
  font-family: Montserrat;
  color: #090236;
  line-height: 1.5em;
  }
  #depo2-novaid .depo2-img{
  display: inline-block;
  float: right;
  z-index: 3;
  }
  #depo2-novaid .depo2-img img{
  width: 520px;
  position: relative;
  bottom: -44px;
  z-index: 9;
  }
  #depo2-novaid .depo2-txt h4{
  line-height: 1.3em;
  text-align: center;
  font-size: 36px;
  }
  #depo2-novaid .depo2-txt h4 span{
  font-weight: 700;
  }
  #depo2-novaid .depo2-txt h5{
  margin-top: 10%;
  text-align: center;
  font-size: 16px;
  color: #FE9005;
  line-height: 1.5em;
  font-family: Montserrat;
  font-style: italic;
  }
  #depo2-novaid .depo2-txt h5 span{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #FE9005;
  background: none !important;
  box-shadow: none !important;
  line-height: 1.5em;
  }
  #depo2-novaid button{
  color: #190426 !important;
  font-size: 25px;
  }
  #depo2-novaid .depo2-txt span{
  background: #70FFBD;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #70FFBD, -0.2em 0 0 #70FFBD;
  }
  /*CLIENTES-----------------------------------*/
  #clientes-novaid{
  background-color: #FDB913;
  background-image: url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/01/29113309/Ondas_Empresas_Left-01.png),url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/01/29113230/Ondas_Empresas_Right-01.png) ;
  -webkit-clip-path: polygon(0 0, 100% 4%%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  overflow: auto;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: -9% 100%, 105% 100%;
  margin-top: 0;
  z-index: 10;
  position: relative;
  }
  #clientes-novaid .clientes-txt{
  /* margin-top: 10vh; */
  }
  #clientes-novaid .clientes-txt h3{
  text-align: center;
  height: 80vh !important;
  margin-top: 15%;
  font-size: 26px;
  font-family: Montserrat;
  font-weight: 300;
  position: relative;
  }
  #clientes-novaid .clientes-novaid-parent{
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: -55vh;
  flex-grow: 1;
  position: relative;
  }
  #clientes-novaid .clientes-novaid-child{
  padding: 0 10px;
  z-index: 100;
  }
  #clientes-novaid .clientes-novaid-child h4{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 25px;
  color: #1F0231;
  margin-top: 5%;
  }
  #clientes-novaid .btn-clientes img{
  width: 90px;
  margin-top: unset;
  transition-duration: .3s;
  }
  #clientes-novaid .btn-clientes img:hover{
  /* width: 110px !important;
  margin-top: -20px; */
  -webkit-transform: scale(1.15);
  }
  #clientes-novaid .btn-clientes:hover{
  text-decoration-line: none !important;
  }
  /* TRANSFORMAR O MUNDO */
  #transf-mundo{
  margin-top: -21vh;
  margin-bottom: -10%;
  z-index: 20;
  }
  #transf-mundo .transf-mundo-txt{
  display: inline-block;
  float: right;
  margin-top: 2%;
  /* padding-left: 100px; */
  font-size: 26px;
  font-family: Montserrat;
  font-weight: 300;
  color: #090236;
  line-height: 1.5em;
  z-index: 15;
  }
  #transf-mundo .transf-mundo-img{
  display: inline-block;
  float: left;
  margin-left: -3%;
  z-index: 11;
  height: 600px;
  position: relative;
  }
  #transf-mundo .transf-mundo-img img{
  vertical-align: middle;
  border-style: none;
  margin-top: -18%;
  z-index: 5;
  position: absolute;
  }
  #transf-mundo button{
  text-transform: unset !important;#transf-mundo button
  line-height: 30px !important;
  height: fit-content !important;
  text-align: center;
  margin-left: 0;
  width: fit-content !important;
  display: block;
  padding-top: 3%;
  padding-bottom: 3%;
  background: linear-gradient(#FDB913, #FE9005);
  border:none;
  color: #190426;
  margin-top: 10%;
  width: 80%;
  border-radius: 0;
  box-shadow: 0 5px 0px #9B3B21;
  position: relative;
  font-family: Montserrat;
  font-weight: 700;
  z-index: 99;
  transition: all 0.3s;
  font-size:25px !important;
  white-space: nowrap;
  }
  #transf-mundo button:hover{
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
  }
  #transf-mundo .transf-mundo-txt span{
  background: #FDB913;
  color: #000;
  font-weight: 700 !important;
  line-height: 1.4em;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #FDB913, -0.2em 0 0 #FDB913;
  }
  #transf-mundo .transf-mundo-title{
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 300;
  color: #fff;
  z-index: 20;
  position: relative;
  width: 50%;
  line-height: 1.5em;
  }
  #transf-mundo .transf-mundo-title span{
  font-weight: 300;
  color: #fff;
  box-shadow: 0.2em 0 0 #1F0231, -0.2em 0 0 #1F0231;
  background-color: #1F0231;
  }
  #transf-mundo .transf-mundo-title strong{
  color: #70FFBD;
  font-weight: 700;
  }
  /*IMPLEMENTAÇÃO*/
  #depo-implementacao{
  background-color: #70FFBD;
  background-image: url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/02/04145432/Ondas_Beyonce_Left-01.png),url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/02/04145416/Ondas_Beyonce_Right-01.png) ;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  background-repeat: no-repeat;
  background-position: 50% 50%, 50% 50%;
  z-index: 10;
  position: relative;
  overflow: hidden;
  padding: 3% 0;
  }
  #depo-implementacao .depo-imp-txt h4{
  line-height: 1.6em;
  font-size: 16px;
  color: #EF2F77;
  margin-top: 11%;
  }
  #depo-implementacao .depo-imp-txt{
  display: inline-block;
  float: left;
  margin-top: 13vh;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  }
  #depo-implementacao .depo-imp-txt span{
  font-weight: 700;
  }
  #depo-implementacao .depo-imp-img{
  display: inline-block;
  float: right;
  bottom: -20%;
  }
  /*IMPLMEMENTAÇÃO*/
  /*EQ SUCESSO*/
  #content{
  box-shadow: none !important;
  }
  #eq-sucesso{
  margin: 7% 0;
  }
  #eq-sucesso .col-lg-12{
  font-size: 30px;
  text-align: center;
  color: #090236;
  }
  #eq-sucesso h4{
  line-height: 1.4em;
  }
  #eq-sucesso h4 span{
  background: #70FFBD;
  color: #000;
  font-weight: 700 !important;
  line-height: 1.4em;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #70FFBD, -0.2em 0 0 #70FFBD;
  }
  /*EQ SUCESSO*/
  /*VENDAS*/
  #vendas-ca .vendas-ca-txt{
  float: left;
  }
  #vendas-ca .vendas-ca-txt h4{
  font-size: 36px;
  color: #090236;
  line-height: 1.8em;
  font-weight: 700;
  }
  #vendas-ca .vendas-ca-txt p{
  font-size: 22px;
  line-height: 1.8em;
  color: #090236;
  }
  #vendas-ca .vendas-ca-img{
  float: right;
  padding: 10% 2% 2% 2%;
  }
  #vendas-cb .vendas-cb-txt{
  float: right;
  }
  #vendas-cb .vendas-cb-txt h4{
  font-size: 36px;
  color: #090236;
  line-height: 1.3em;
  font-weight: 700;
  }
  #vendas-cb .vendas-cb-txt p{
  font-size: 22px;
  line-height: 1.8em;
  color: #090236;
  }
  #vendas-cb .vendas-cb-img{
  float: left;
  margin-top: -30%;
  padding: 10% 2% 2% 2%;
  }
  #vendas-cb-button button{
  text-transform: unset !important;
  height: fit-content !important;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  background: linear-gradient(#FDB913, #FE9005);
  border:none;
  border-radius: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  box-shadow: 0px 4px #9B3B21;
  position: relative;
  font-family: Montserrat;
  font-size: 25px !important;
  font-weight: 700;
  z-index: 99;
  transition: all 0.3s;
  font-size: 18px !important;
  color: #190426;
  width: 40%;
  white-space: pre-wrap;
  }
  #vendas-cb-button button:hover{
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
  }
  /*VENDAS*/
  /*respeito-conteudo*/
  #respeito-conteudo{
  margin-bottom: 10% !important;
  }
  #respeito-conteudo .respeito-conteudo-img{
  float:right;
  }
  #respeito-conteudo .respeito-conteudo-txt{
  float:left;
  }
  #respeito-conteudo .respeito-conteudo-txt h4{
  font-size: 32px;
  color: #090236;
  margin: 0 0 5% 0;
  }
  #respeito-conteudo .respeito-conteudo-txt h4 span{
  background: #70FFBD;
  color: #3A025E;
  font-weight: 700 !important;
  line-height: 1.4em;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #70FFBD, -0.2em 0 0 #70FFBD;
  }
  #respeito-conteudo .respeito-conteudo-txt h5{
  font-size: 22px;
  color: #000000;
  margin: 5% 0;
  line-height: 36px;
  }
  #respeito-conteudo .respeito-conteudo-txt p{
  font-size:18px;
  color: #EF2F77;
  font-style: italic;
  text-align:center;
  width:70%;
  displa:block;
  margin: 0 auto;
  }
  /*respeito-conteudo*/
  /*comece-agora*/
  #comece-agora{
  background-color: #ff9600;
  background-image: url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/02/04180406/Ondas_Tony_Left-01.png),url(https://s3.amazonaws.com/wordpress-cdn.eadbox.com/2019/02/04180346/Ondas_Tony_Right-01.png) ;
  -cdn.eadbox.com/2019/02/04145416/Ondas_Beyonce_Right-01.png) ;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  overflow: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left, center right;
  height: 100%;
  margin-top: -13%;
  z-index: 50;
  position: relative;
  /* padding-top: 5%;
  padding-bottom: 5%; */
  }
  #comece-agora .comece-agora-txt{
  float: right;
  margin-top: 15%;
  z-index: 20 !important;
  }
  #comece-agora .comece-agora-txt h4{
  font-size: 30px;
  }
  #comece-agora .comece-agora-txt span{
  background: #090236;
  color: #fff;
  font-weight: 700 !important;
  line-height: 1.4em;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #090236, -0.2em 0 0 #090236;
  }
  #comece-agora .comece-agora-img img{
  float: left;
  max-width: 100% !important;
  padding-top: 15% !important;
  display: block;
  margin-left: -25%;
  z-index: 2 !important;
  float: left;
  max-width: 150%;
  display: block;
  margin-left: -15%;
  }
  #comece-agora .form-controls-2{
  border-radius: 0;
  border-color:#000;
  height: 35px !important;
  margin: 3% 0 1% 0;
  width: 45%;
  background: #fff;
  font-family: Montserrat;
  border: 1px solid #000 !important;
  padding:10px !important;
  }
  #comece-agora .btn{
  z-index: 30 !important;
  background-color: #000 !important;
  color: #70FFBD !important;
  margin: 3% 0 1% 0;
  font-size: 12px !important;
  height: 57px !important;
  line-height: 1.5em;
  font-weight: 700;
  transition: all 0.5s ease;
  font-family: Montserrat !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #000 !important;
  }
  #comece-agora .btn:hover{
  background-color: #EF2F77 !important;
  color:#000 !important;
  }
  #comece-agora .button-comece{
  display: flex;
  margin-left: -2%;
  }
  /*comece-agora*/
  /* cta-footer */
  #cta-novaid-bottom{
  text-align: center;
  display: block;
  margin: 0 auto;
  }
  #cta-novaid-bottom h4{
  font-size: 45px;
  color: #090236;
  font-size: 36px;
  }
  #cta-novaid-bottom h5{
  font-size: 26px;
  color: #090236;
  margin-top: 45px;
  }
  .vendas-nova_id h4{
  font-size: 26px;
  color: #090236;
  text-align: center;
  margin: 5% 5% 10% 5%;
  }
  .vendas-nova_id h4 span{
  background: #70FFBD;
  color: #090236;
  font-weight: 700 !important;
  line-height: 1.4em;
  white-space: pre-wrap;
  display: inline;
  box-shadow: 0.2em 0 0 #70FFBD, -0.2em 0 0 #70FFBD;
  }
  /* rodape */
  .content-footer{
  border-top: 1px solid #0464AE;
  }
  @media(min-width: 1300px){
  #transf-mundo .transf-mundo-txt{
  margin-top: 14% !important;
  }
  }
  /* cta-footer */
  /*MEDIA min 1500PX para desktop------------------------------------*/
  @media(min-width: 1500px){
  #comece-agora{
  margin-top: -9%;
  }
  }
  /*MEDIA 1500px------------------------------------*/
  @media(max-width: 1500px){
  #clientes-novaid{
  background-size: 117%;
  }
  }
  /*MEDIA 1373px------------------------------------*/
  @media(max-width: 1373px){
  .depo2-img img{
  /* width: 800px !important; */
  bottom: -8px !important;
  /* margin-left: -20%; */
  }
  #depo2-novaid {
  margin-bottom: -23vh;
  }
  #clientes-novaid{
  margin-top: 0;
  }
  #clientes-novaid .clientes-novaid-parent{
  margin-top: -62vh;
  }
  #comece-agora .comece-agora-txt{
  margin-top: 7% !important;
  }
  }
  /*MEDIA 1200px------------------------------------*/
  @media(max-width: 1200px){
  .indica-text-novaid{
  margin-top: -1%;
  }
  #indica-novaid .indica-item-novaid h3{
  text-align: left;
  }
  .depo2-img img{
  width: 800px !important;
  margin-bottom: -20% !important;
  }
  #clientes-novaid .clientes-novaid-parent{
  margin-top: -66vh !important;
  flex-grow: 1;
  }
  #clientes-novaid .clientes-txt{
  margin-top: 2vh;
  }
  #clientes-novaid{
  background-size: 132%;
  }
  #header-novaid .header-novaid-texto .form-controls-2{
  width:31%;
  }
  #header-novaid .header-novaid-texto p{
  /*margin-left: 33%;*/
  }
  #clientes-novaid{
  background-size:132%;
  }
  #clientes-novaid .clientes-novaid-parent {
  margin-top: -56vh;
  }
  #comece-agora{
  margin-top: -9%;
  }
  #comece-agora .comece-agora-txt{
  margin-top: 13%;
  }
  }
  /*MEDIA 1158px------------------------------------*/
  @media(max-width: 1158px){
  #respeito-conteudo .respeito-conteudo-txt p{
  padding-bottom: 15%;
  }
  #respeito-conteudo .respeito-conteudo-img{
  bottom: -17%;
  }
  }
  /*MEDIA 991PX------------------------------------*/
  @media(max-width: 991px){
  #comece-agora .comece-agora-txt h4{
  text-align:center;
  }
  #comece-agora .form-inline{
  display:block !important;
  }
  #comece-agora .form-controls-2, #comece-agora .btn{
  width: -webkit-fill-available !important;
  }
  #depo1-novaid button{
  margin: 5% auto !important;
  }
  #depo1-novaid .depo1-img{
  margin-left: 0 !important;
  }
  #depo1-novaid .depo1-img img{
  width: 600px !important;
  bottom: -150px !important;
  position: relative;
  }
  .indica-text-novaid {
  margin-top: -1%;
  margin-bottom: 10%;
  }
  .header-novaid-imagem{
  text-align: center;
  height: auto;
  }
  #header-novaid .header-novaid-imagem img{
  margin-left: 0 !important;
  }
  #header-novaid .header-novaid-texto, #header-novaid .header-novaid-texto h2{
  text-align: center;
  width: 100%;
  }
  .form-inline{
  display: inline-block;
  }
  #indica-novaid{
  margin-top: 5%;
  }
  .intro-bg{
  background-size: 150vw;
  background-position: 6% 98%;
  }
  #indicadores-consultoria button{
  text-align: center;
  margin: 0 auto;
  }
  .column-reverse{
  display: flex;
  flex-direction: column-reverse;
  }
  .depo1-img{
  margin: 0 auto;
  text-align: center;
  }
  .depo1-txt h4{
  margin-top:10%;
  }
  .depo1-txt h5{
  margin-bottom: 10%;
  }
  #depo1-novaid{
  margin-top: -10% !important;
  }
  #indicadores-consultoria{
  background-size: contain;
  background-position: -226% -55%, 119% 50%;
  height: 100%;
  padding: 20% 0;
  }
  #depo2-novaid .depo2-img img{
  bottom: -86px !important;
  margin: 0 auto;
  width: 500px !important;
  margin-bottom: 4% !important;
  }
  #depo2-novaid .depo2-img{
  text-align: center !important;
  }
  #depo2-novaid .depo2-txt{
  margin-bottom: -10% !important;
  }
  #depo2-novaid{
  margin-bottom: -10vh;
  }
  #clientes-novaid .clientes-novaid-parent{
  margin-top: -62vh !important;
  }
  #clientes-novaid .clientes-novaid-child h4{
  font-size: 12px;
  line-height:17px;
  }
  #clientes-novaid .clientes-txt{
  margin: 7vh 0;
  }
  #clientes-novaid .clientes-txt h3{
  margin-bottom: 5%;
  }
  .form-inline {
  display: table;
  margin: 0 auto;
  }
  #indica-novaid h4{
  margin: 7% 0;
  }
  #header-novaid{
  margin: 15% 0;
  }
  #header-novaid .header-novaid-texto .form-controls-2{
  // width:31%;
  }
  #header-novaid .header-novaid-texto .form-controls-2 {
  width: 41%;
  margin-right: -1%;
  }
  #header-novaid .header-novaid-texto p{
  /*margin-right:11%;*/
  }
  #transf-mundo .transf-mundo-title{
  width: 90%;
  }
  #transf-mundo .transf-mundo-txt{
  margin-top: 0;
  padding-left: 0;
  }
  #transf-mundo button{
  text-align: center;
  display: block;
  margin: 10% auto;
  /* padding-bottom: 8%; */
  }
  #transf-mundo .transf-mundo-txt{
  margin-top: 110px;
  }
  #transf-mundo{
  margin-top: -37vh;
  }
  #depo-implementacao .depo-imp-img{
  bottom: -6%;
  }
  #depo-implementacao .depo-imp-img img{
  width: 100% !important;
  height: auto;
  }
  #comece-agora .comece-agora-img img{
  margin-left: 0;
  max-width: 100%;
  margin-top: -17%;
  }
  #respeito-conteudo .respeito-conteudo-img{
  margin-bottom: -10%;
  }
  #vendas-cb .vendas-cb-img{
  margin-top: 0;
  }
  .vendas-ca-img{
  text-align: center;
  }
  #header-novaid .header-novaid-texto h1, #header-novaid .header-novaid-texto h2{
  padding:0 5%;
  }
  #respeito-conteudo .respeito-conteudo-img{
  margin-bottom: 0;
  margin-top: -29%;
  }
  #comece-agora .button-comece{
  display: flex !important;
  flex-wrap: wrap !important;
  margin: 0 auto;
  text-align: center;
  }
  #comece-agora .btn, #comece-agora .form-controls-2{
  /* width: 100% !important; */
  }
  #comece-agora .btn{
  margin-top: -7px;
  }
  #comece-agora p{
  text-align: center;
  }
  #comece-agora .comece-agora-txt {
  margin-top: 30%;
  }
  #comece-agora{
  padding-top: 20%;
  }
  }
  /*MEDIA 831PX------------------------------------*/
  @media(max-width: 830px){
  #vendas-cb-button button{
  height: auto;
  padding-bottom: 13px;
  width: auto;
  }
  }
  /*MEDIA 767PX------------------------------------*/
  @media(max-width: 767px){
  #clientes-novaid .clientes-novaid-parent{
  /* margin-top: -52% !important; */
  }
  .intro-bg{
  background-size: 304vw;
  background-position: 19% 61%;
  }
  #transf-mundo{
  margin-top: -17vh;
  }
  #transf-mundo .transf-mundo-img{
  height: 440px;
  }
  }
  /*MEDIA 681PX------------------------------------*/
  @media(max-width: 681px){
  #depo1-novaid .depo1-img img{
  width: 400px !important;
  bottom: -10px !important;
  position: relative;
  }
  #depo1-novaid .depo1-img{
  height: unset;
  margin-bottom: -13%;
  }
  #depo2-novaid{
  margin-bottom: -14vh;
  }
  .indicadores-consultoria-img img{
  height: auto !important;
  width: 350px;
  text-align: center;
  max-width: 100%;
  }
  #depo2-novaid .depo2-img img {
  bottom: -61px !important;
  }
  #clientes-novaid{
  /* margin-top: 7vh; */
  }
  #depo2-novaid .depo2-img img{
  width: 90% !important;
  }
  }
  /*MEDIA 578PX------------------------------------*/
  @media(max-width: 578px){
  #clientes-novaid{
  /* padding: 10% 0 27% 0; */
  }
  #clientes-novaid .clientes-txt h3{
  padding-bottom: 7vh;
  }
  #clientes-novaid .clientes-novaid-parent{
  /* padding: 25% 0; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr;
  }
  .clientes-novaid-child{
  margin: 20px 0;
  }
  #clientes-novaid .child4{
  grid-row: 3/3;
  grid-column: 2/3;
  }
  .depo2-img img{
  width: 350px !important;
  }
  #header-novaid .header-novaid-imagem img{
  height: 340px;
  }
  #indica-novaid h3{
  font-size:50px;
  }
  #header-novaid .header-novaid-texto h1{
  font-size: 28px;
  }
  .form-inline {
  display: table;
  margin: 0 auto;
  }
  #header-novaid .header-novaid-texto .form-controls-2, #header-novaid .header-novaid-texto .btn{
  width: 100%;
  margin: 0 auto;
  }
  .clientes-txt h3{
  font-size: 26px !important;
  }
  /* .form-inline{
  display: flex;
  } */
  #header-novaid .header-novaid-texto .form-controls-2, #header-novaid .header-novaid-texto .btn{
  text-align:center;
  }
  #header-novaid .header-novaid-texto p{
  margin: 0 auto;
  padding-top: 2%;
  }
  #transf-mundo .transf-mundo-title{
  width: 100% !important;
  text-align: left;
  font-size: 2em;
  }
  #transf-mundo .transf-mundo-img{
  height: 50vh;
  }
  #transf-mundo button{
  padding-bottom: 5%;
  word-wrap: break-word !important;
  white-space: pre-wrap;
  height: auto;
  font-size: 15px;
  }
  #transf-mundo{
  margin-top: 0 !important;
  /* margin-bottom: 15vh; */
  }
  #comece-agora .comece-agora-txt h4, #cta-novaid-bottom h5, #indicadores-consultoria .indicadores-consultoria-txt h4{
  font-size: 20px;
  }
  #cta-novaid-bottom h4, #vendas-cb .vendas-cb-txt h4, #vendas-ca .vendas-ca-txt h4, #respeito-conteudo .respeito-conteudo-txt h4, #depo-implementacao .depo-imp-txt h4, #transf-mundo .transf-mundo-txt h4, #depo2-novaid .depo2-txt h4, #indicadores-consultoria .indicadores-consultoria-txt h3{
  font-size: 26px;
  }
  #vendas-cb-button button{
  font-size: 12px !important;
  }
  #vendas-ca .vendas-ca-txt p, #vendas-cb .vendas-cb-txt p, #respeito-conteudo .respeito-conteudo-txt h5, #depo2-novaid .depo2-txt h5{
  font-size: 16px;
  }
  #clientes-novaid .clientes-txt{
  padding-bottom: 10%;
  }
  #respeito-conteudo .respeito-conteudo-img{
  max-width: 70%;
  float: none;
  padding: 0;
  margin: -10% auto;
  }
  #respeito-conteudo .respeito-conteudo-img{
  bottom: -2%;
  }
  #header-novaid .header-novaid-imagem img{
  margin-top: 6vh !important;
  }
  }
  /*MEDIA 450px------------------------------------*/
  @media(max-width: 450px){
  #transf-mundo .transf-mundo-txt {
  margin-top: 60px;
  }
  #indicadores-consultoria .indicadores-consultoria-txt h3{
  font-size:27px !important;
  }
  #clientes-novaid .clientes-novaid-parent {
  /* margin-top: -51vh !important;
  margin-bottom: 14%; */
  }
  #indicadores-consultoria button, #depo2-novaid button, #depo2-novaid button, #transf-mundo button,    #depo1-novaid button, #vendas-cb-button button{
  font-size: 14px !important;
  }
  #comece-agora, #depo-implementacao{
  background-size: 200%;
  }
  #clientes-novaid{
  background-position: 18% 4%, 225% 9%;
  }
  .intro-bg {
  background-size: 360vw;
  }
  #transf-mundo {
  margin-top: -14vh;
  }
  #depo1-novaid button{
  padding: 10px !important;
  }
  #depo1-novaid .depo1-img img{
  width: 320px !important;
  bottom: -10px !important;
  position: relative;
  }
  }
  /*MEDIA 400px------------------------------------*/
  @media(max-width: 400px){
  #clientes-novaid .clientes-novaid-parent {
  /* margin-top: 0 !important; */
  }
  #depo1-novaid .depo1-img img{
  width: 85% !important;
  }
  #depo1-novaid .depo1-img{
  margin: 0;
  }
  #depo2-novaid img{
  width: 300px !important;
  }
  #depo1-novaid .depo1-img{
  height: unset;
  margin-bottom: -18%;
  }
  #transf-mundo .transf-mundo-txt{
  /* margin: 0 auto; */
  }
  #indicadores-consultoria button{
  /* font-size: 12px !important; */
  padding: 10px !important;
  margin-bottom: 10%;
  }
  .intro-bg {
  background-size: 385vw;
  }
  }
  /*MEDIA 360px------------------------------------*/
  @media(max-width: 360px){
  #clientes-novaid .clientes-novaid-parent {
  /* margin-top: -44vh !important; */
  }
  }
  /*MEDIA 320px------------------------------------*/
  @media(max-width: 320px){
  #clientes-novaid .clientes-novaid-parent {
  /* margin-top: -22vh !important; */
  }
  #comece-agora .btn{
  font-size: 12px !important;
  }
  #cta-novaid-bottom h4{
  font-size: 21px !important;
  }
  #cta-novaid-bottom h5{
  font-size: 16px !important;
  }
  #transf-mundo button, #depo2-novaid button{
  font-size: 12px !important;
  line-height: 1.7em !important;
  }
  }
  #respeito-conteudo .respeito-conteudo-img img{
  position: relative;
  bottom: -25px;
  }
  @media(min-width:1300px){
  #respeito-conteudo .respeito-conteudo-img img{
  /* max-width: 80% !important; */
  bottom: -105px;
  }
  }
  @media(max-width: 1081px) and (min-width: 992px){
  #comece-agora .comece-agora-txt{
  margin-top:8% !important;
  }
  #comece-agora .comece-agora-img{
  bottom: -8% !important;
  }
  }
  @media(max-width: 1200px) and (min-width: 992px){
  #respeito-conteudo .respeito-conteudo-img{
  bottom: -46% !important;
  }
  }
  /* NOVO FORM HUBSPOT */
/* botao */
.hs-button{
  margin-top: 22px;
  background-color: #000 !important;
  color: #70FFBD !important;
  font-size: 15px !important;
  line-height: 1.2em;
  height: 57px !important;
  font-weight: 700;
  transition: all 0.5s ease;
  font-family: Montserrat !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #000 !important;
}
#header .hs-button{
  margin-top: 8px !important;
}
.hs-button:hover{
  background-color: #EF2F77 !important;
  color: #000 !important;
}
/* input */
.hs-input{
  border-radius: 0;
  border-color: #000;
  height: 35px !important;
  background: #fff !important;
  font-family: Montserrat;
  border: 1px solid #000 !important;
  padding: 10px !important;
}
/* label */
#label-email-30271bde-dc16-4416-859f-ae982c554062 {display:none;}

#header-novaid form{
flex-flow: inherit !important;
align-items: center;
}
  #header-novaid .header-novaid-texto p{
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
    position: relative;
    float: left;
  }
  #comece-agora form{
    display: inline-flex;
  }
@media(max-width: 992px){
  #header-novaid form{
    display:block;
  }
  input[type=email],  input[type=submit]{
    width: -webkit-fill-available !important;
    margin: 0 !important;
  }
  #header-novaid .header-novaid-texto p{
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
  }
    #comece-agora form{
    display: block;
    width: 110%;
    margin-left: -5%;
  }
    #comece-agora .hs-button{
      font-size: 13px !important;
  }
}
#form-home .form-inline, #form-home2 .form-inline{
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  }
  @media(max-width: 993px){
  #form-home .form-inline, #form-home2 .form-inline{
    display: table;
    }
    #header-novaid .header-novaid-texto .btn, #header-novaid .header-novaid-texto .form-controls-2{
      margin:0 auto !important;
    }
    #header-novaid .header-novaid-texto .form-controls-2{
      width:50%;
    }
    #header-novaid .header-novaid-texto p{
      margin: 0 auto;
      float: none;
      display:block;
    }
  }
  @media(max-width:578px){
    #header-novaid .header-novaid-texto .form-controls-2{
      width:  -webkit-fill-available !important;
    }
  }
  #header-novaid .header-novaid-texto .btn, #header-novaid .header-novaid-texto .form-controls-2, #comece-agora .btn{
    border-radius: 0;
    line-height: 1.5em !important;
  }

  img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

div#toc_container {background: #fff;border: 1px solid #fff;}

.wtr-time-wrap{ 
	/* wraps the entire label */
	margin: 0 10px;

}

.menu-home{
    display: block !important;
     height: 76px !important;
    position: fixed !important; 
    overflow: hidden !important; 
    z-index: 999 !important; 
    top: 0 !important;
}
.nav-wrapper .container{
    width: -webkit-fill-available !important;
}
.mdi-navigation-menu{
    color: #000 !important;
}
nav{
    box-shadow: none !important;
}
nav .menu-collapse{
    z-index: 100 !important;
     width: 130px !important;
      padding-left: 20px !important;
       margin-left: -30px !important;
    }
    nav .brand-logo{
        z-index: 50 !important;
    }
    .menu-home ul li a{
        width: 100% !important;
    }
    .menu-home .flag{
        display: flex !important;
    }
    .purple-text{
        color: #7910A4 !important;
         font-family: Montserrat !important;
        }
        .purple-btn{
            background-color:#3A025E !important;
        }
        @media(max-width: 992px){
            .menu-home{
                position: unset !important;
                 height: 100% !important;
                }
                nav .nav-wrapper{
                    position: fixed;
                     height: 80px !important;
                      width: 100vw !important;
                       z-index: 999 !important; 
                       background: white !important;
                        margin-top: 0 !important; top: 0 !important;
                    }}
                    /*fix iphone*/ @media(max-width: 992px){
                        .menu-home{
                            position: unset !important;
                             height: 100% !important;
                            }
                            nav .nav-wrapper{
                                position: fixed; 
                                height: 80px !important; 
                                width: 100vw !important;
                                 z-index: 999 !important; 
                                 background: white !important; 
                                 margin-top: 0 !important; 
                                 top: 0 !important;
                                }}
                                @media(min-width: 1400px){
                                    nav .brand-logo{
                                        margin-top: -14px !important;
                                    }}